@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of Home</h2>

<div class="container">
    <div class="span-24">
        <p>Sample blueprint layout</p>
    </div> 
    <div class="span-8">
        <p>Col 1 (8 units of blueprint css)</p>
    </div> 
    <div class="span-8">
        Col 2
    </div> 
    <div class="span-8 last">
        Col 3
    </div> 
</div>